@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: lightgray;
  background-color: #1e1f27;
}

/* navigation */

.nav {
  border-bottom: 1px solid grey;
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

.nav svg {
  /* border: 1px dotted hotpink; */
  width: 1.5rem;
  fill: lightgray;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}

.nav__menu li {
  display: none;
}

.nav__menu li:first-child {
  display: block;
  /* border: 2px dotted hotpink; */
}

.nav__menu a {
  /* border: 2px dotted hotpink; */
  color: inherit;
  font-size: 1rem;
}

.close {
  display: none;
}

.menu {
  margin-top: 0.2rem;
}

#header-logo {
  height: 30vw;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

@media (min-width: 600px) {
  body {
    color: white;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1f27;
    width: 100%;
    /* border: 2px solid red; */
  }

  /* header > * {
    border: 2px dotted royalblue;
  } */

  .left-nav,
  .right-nav {
    flex-grow: 1;
    flex-basis: 0;
  }

  /* body > * {
    border: 2px dotted tan;
  } */

  nav ul li a {
    font-weight: 600;
    font-size: 17px;
    color: #fcfcfc;
    text-underline-offset: 10px;
  }

  /* .middle-nav {
    border: 2px dotted magenta;
  } */

  a {
    text-decoration: none;
  }

  nav li {
    display: inline-block;
    margin: 0px 20px;
    list-style: none;
  }

  .active {
    text-decoration: underline;
  }

  .left-nav {
    display: flex;
  }

  .right-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    /* margin-left: auto; */
  }

  .right-nav-box {
    width: 8px;
    height: 8px;
    margin: 10px;
    background-color: aqua;
  }

  #header-logo {
    height: 9vw;
  }

  /* footer {
    margin-top: auto;
    align-self: flex-end;
  } */

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 25%);
  }

  #footer-logo {
    margin: 20px;
    height: 7vw;
  }

  #footer-middle-nav li {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  #footer-middle-nav li a {
    font-size: 14px;
  }

  .social-media-nav {
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .bottom-line {
    align-self: flex-end;
    width: 100vw;
    height: 30px;
    background-color: rgba(0, 0, 0, 50%);
    font-size: 13px;
    color: rgb(138, 138, 138);
    text-align: center;
  }

  /* about */

  main {
    background-color: #1e1f27;
    /* background-color: darkblue; */
    flex: 1;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .reviews-container {
    width: 100vw;
    height: 200px;
    background-color: rgba(255, 255, 255, 5%);
    padding: 20px;
  }

  .review-logo {
    width: 80px;
    height: auto;
  }

  .reviews-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px dotted magenta;
  }

  .reviews-ul li {
    min-width: 0;
    min-height: 0;
    list-style: none;
    padding: 15px;
    border: 2px dotted turquoise;
  }
}
