/* ABOUT */

.review-logo {
  height: auto;
  width: auto;
  max-width: 10rem;
}

.reviews-container > p {
  padding-bottom: 7%;
}

main > p {
  padding: 2rem;
}

@media (min-width: 600px) {
  main {
    background-color: #1e1f27;
    /* background-color: darkblue; */
    flex: 1;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .reviews-container {
    width: 100vw;
    height: 200px;
    background-color: rgba(255, 255, 255, 5%);
    padding: 20px;
  }

  .review-logo {
    width: 80px;
    height: auto;
  }

  .reviews-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px dotted magenta;
  }

  .reviews-ul li {
    min-width: 0;
    min-height: 0;
    list-style: none;
    padding: 15px;
    border: 2px dotted turquoise;
  }
}
