@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: lightgray;
  background-color: #1e1f27;
  overflow-x: hidden;
}

h1,
h2 {
  padding: 1rem 0;
}

h3,
h4 {
  font-family: "Robotto", sans-serif;
}

.circle-purple {
  position: absolute;
  top: -710px;
  left: -130px;
  z-index: -1;
  width: 1000px;
  height: 800px;
  border-radius: 50%;
  background-color: rgba(184, 94, 255, 50%);
  filter: blur(150px);
}

.p2 {
  top: 500px;
  left: -950px;
}

.circle-blue {
  position: absolute;
  top: 200px;
  left: 150px;
  z-index: -1;
  width: 574px;
  height: 574px;
  border-radius: 50%;
  background-color: rgba(31, 44, 123, 80%);
  filter: blur(150px);
}

.b2 {
  top: 1100px;
  left: 150px;
}

/* #1F2C7B */

a {
  text-decoration: none;
}

/* navigation */

.nav {
  display: flex;
  overflow: hidden;
  /* border: 2px dotted turquoise; */
}

.box {
  flex: 1;
  display: flex;
  /* border: 2px dotted hotpink; */
}

/* .left {
  border: 2px dotted hotpink;
} */

#header-logo {
  position: absolute;
  height: 5.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  /* border: 2px dotted yellow; */
}

.nav__toggle {
  position: absolute;
  cursor: pointer;
  left: 2%;
  top: 1%;
  /* border: 2px dotted hotpink; */
}

svg {
  width: 25px;
  height: 25px;
}

.right svg {
  margin-top: 0.5rem;
}

.nav svg {
  /* border: 1px dotted hotpink; */
  min-width: 1rem;
  width: 1.5rem;
  fill: lightgray;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 6rem;
  /* padding-bottom: 1rem; */
  /* border: 2px dotted hotpink; */
}

.nav__menu li {
  display: none;
  /* border: 2px dotted hotpink; */
}

/* .nav__menu li:not(:first-child){
  border: 2px dotted hotpink;
} */

.nav__menu a {
  /* border: 2px dotted hotpink; */
  color: inherit;
  font-size: 1rem;
}

.close {
  display: none;
}

.menu {
  margin-top: 0.2rem;
}

#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
  /* border: 2px dotted hotpink; */
}

#nav__checkbox:checked ~ ul.nav__menu {
  border-bottom: 1px solid grey;
  padding-bottom: 2rem;
  /* border: 2px dotted yellow; */
}
#nav__checkbox:checked ~ ul {
  /* margin-left: 0.5rem; */
  width: 100%;
  text-align: center;
  border-top: 1px solid grey;
  padding-top: 1rem;
  /* border: 2px dotted hotpink; */
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
  /* border: 2px dotted hotpink; */
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
  /* border: 2px dotted hotpink; */
}

.active {
  text-decoration: underline;
}

.right {
  display: flex;
  justify-content: right;
  align-items: top;
  flex-shrink: 0;
  gap: 0.7rem;
  padding-right: 0.4rem;
  padding-top: 0.25rem;

  /* border: 2px dotted aqua; */
}

.icon {
  width: 1.7rem;
  fill: #f6f5f4;
  /* border: 2px dotted aqua; */
}

nav ul li a {
  font-weight: 600;
  font-size: 17px;
  color: #fcfcfc;
  text-underline-offset: 10px;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  /* border: 2px dotted hotpink; */
}

h1 {
  font-size: 1.5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 25%);
  /* border: 2px dotted hotpink; */
}

#footer-logo {
  height: 4rem;
}

#footer-middle-nav li {
  display: none;
}

.social-media-nav {
  width: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding-top: 5%;
}

@media (min-width: 600px) {
  .box {
    flex: none;
    display: flex;
    overflow: hidden;
    /* border: 2px dotted hotpink; */
  }

  .nav__toggle {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* padding: 0 15rem; */
    margin-top: 1rem;
    /* border: 2px dotted aqua; */
  }

  /* .nav > * {
      border: 2px dotted hotpink;
    } */

  .left {
    padding-left: 10rem;
    /* border: 2px dotted turquoise; */
  }

  #header-logo {
    position: relative;
    display: block;
    /* height: 7.5rem; */
    /* border: 2px dotted yellow; */
  }

  /* .middle li {
    display: block; 
    border: 2px dotted lightcoral; 
  } */

  .nav__menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    /* border: 2px dotted hotpink; */
  }

  .nav__menu li {
    display: block;
    /* border: 2px dotted aqua; */
  }

  .nav__menu a {
    font-size: 1.1rem;
  }

  .right {
    align-items: center;
    padding-right: 15rem;
    padding-top: 0;
    /* border: 2px dotted yellow; */
  }

  .right svg {
    margin-top: 0;
  }

  /* footer */

  footer {
    margin-top: auto;
    align-self: flex-end;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 25%);
  }

  #footer-logo {
    margin: 20px;
    height: 6.5vw;
  }

  #footer-middle-nav li {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  #footer-middle-nav li a {
    font-size: 14px;
    color: lightgray;
  }

  .social-media-nav {
    width: 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .bottom-line {
    align-self: flex-end;
    width: 100vw;
    height: 30px;
    background-color: rgba(0, 0, 0, 50%);
    font-size: 13px;
    color: rgb(138, 138, 138);
    text-align: center;
    /* border: 2px dotted hotpink; */
  }
}

@media (max-width: 325px) {
  header nav {
    display: flex;
    flex-direction: column;
    /* border: 2px dotted orange; */
    flex-wrap: wrap;
  }

  header nav .right {
    flex-direction: row;
    justify-content: center;
  }
}
