#browse-sellers {
  gap: 3rem;
}

.browse-bg {
  width: 50rem;
  height: 13rem;
  border-radius: 40px;
  background-color: rgba(129, 106, 224, 13%);
  /* border: 3px dotted magenta; */
}

.browse-bg > .flex {
  width: 100%;
  padding: 0 1.5rem;
}

#game-info .img {
  width: 8.8rem;
  border-radius: 20px;
}

.btn-price {
  width: 10rem;
  height: 3.45rem;
  font-weight: 600;
  font-size: 1.55rem;
  letter-spacing: 1.5px;
  border-radius: 20px;
  border: 2px solid #ffffff20;
  transform: scale(0.85);
}

.btn-cart {
  width: 10rem;
  height: 3.45rem;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  background-color: #7963ff50;
  box-shadow: 0 5px 15px #6240ea25;
  transform: scale(0.85);
}

.btn-cart:hover {
  background-color: #7963ff65;
  box-shadow: 0 5px 15px #6240ea40;
}
