#browse-sellers {
  gap: 3rem;
}

.browse-bg {
  border-radius: 40px;
  background-color: rgba(129, 106, 224, 13%);
  /* border: 3px dotted magenta; */
}

.browse-bg > .flex {
  width: 100%;
  padding: 0 1.5rem;
}

.game-info .img {
  width: 8.8rem;
  border-radius: 30px;
}

.game-info p {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 1.9rem;
}

.btn-sellers {
  width: 8rem;
  height: 2.76rem;
  border-radius: 20px;
  font-weight: 600;
}

.btn-sellers.price {
  margin-right: 0.5rem;
  font-size: 1.24rem;
  letter-spacing: 1.5px;
  border: 2px solid #ffffff20;
}

.btn-sellers.cart {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  background-color: #7963ff50;
  box-shadow: 0 5px 15px #6240ea25;
}

.btn-sellers.cart:hover {
  background-color: #7963ff65;
  box-shadow: 0 5px 15px #6240ea40;
}

.btn-span {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .browse-bg {
    width: 21.9375rem;
    padding: 3rem 0 4rem;
  }

  .browse-bg > .flex:first-child,
  .game-info.flex {
    flex-direction: column;
    gap: 2rem;
  }

  .seller-info.flex,
  .seller-info + .buttons {
    justify-content: center;
    align-items: center;
  }

  #browse-sellers p {
    text-align: center;
  }

  .seller-info-con.flex {
    gap: 2rem;
  }

  #browse-sellers .divider-line {
    width: 9rem;
    height: 1px;
  }
}

@media only screen and (min-width: 601px) {
  .browse-bg {
    width: 50rem;
    height: 13.5rem;
  }

  .game-info .divider-line {
    height: 9rem;
  }
}
