.check-out {
  width: 90%;
}

.shopping-cart {
  min-height: 270px;
}

.shopping-cart,
.info-con {
  width: 90%;
  min-width: 500px;
  max-width: 800px;
  border-radius: 50px;
  background-color: rgba(217, 217, 217, 0.1);
}

.shopping-cart > div:first-child {
  width: 100%;
  padding: 2rem 3rem;
}

#check-out .title-padding {
  padding-bottom: 1rem;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.shopping-cart h5 {
  font-weight: 300;
  letter-spacing: 1px;
}

.shopping-cart .divider-line {
  width: 100%;
  height: 1px;
}

#check-out .seller-card {
  background: none;
  box-shadow: none;
}

.verified {
  width: 24px;
  height: 24px;
}

.seller-card {
  transform: scale(0.9);
}

.info-con > div:first-child {
  padding: 2rem 3rem;
}

.check-out h5 {
  padding: 0.5rem 0.2rem;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
}

.info-bar-con {
  width: 100%;
}

.info-bar {
  width: 90%;
  height: 45px;
  padding: 0 1rem;
  border-radius: 13px;
  background-color: rgba(217, 217, 217, 0.1);
  box-shadow: 0px 0px 1px rgba(184, 94, 255, 35%);
  color: rgba(217, 217, 217, 0.411);
}

.svg-done {
  cursor: default;
  height: 40px;
  width: auto;
  filter: drop-shadow(0px 0px 5px rgba(184, 94, 255, 35%));
}

.svg-done:hover {
  filter: drop-shadow(0px 0px 5px rgba(184, 94, 255, 35%));
}

.info-bar {
  cursor: default;
}

.info-bar > div:first-child {
  transform: scale(0.85);
}

.info-bar svg {
  opacity: 30%;
  cursor: default;
}

.buy-now-btn {
  width: 90%;
  margin-top: 2rem;
}

.buy-now-btn .btn-sellers {
  width: 15rem;
  height: 4rem;
  border-radius: 50px;
}

.glow {
  filter: drop-shadow(0px 0px 5px rgba(184, 94, 255, 35%));
}

.game-img {
  width: 10rem;
  border-radius: 30px;
}

.check-out.gap {
  gap: 2rem;
}

.game-cover.resize {
  object-fit: cover;
  height: 7.9rem;
  width: 5.8rem;
  border-radius: 20px;
}

.checkout-svg {
  width: 6rem;
  padding-bottom: 1rem;
}

.btn-sellers.checkout {
  width: 10rem;
  margin-top: 1.5rem;
}

.check-out h3 {
  padding-bottom: 1rem;
}

.check-out p {
  text-align: center;
}

#check-out-finished p {
  width: 100%;
  padding-bottom: 1.5rem;
  text-align: center;
}

.order-complete-p {
  margin-bottom: 4rem;
}

.divider-line.checkout {
  width: 550px;
  height: 1px;
}

.p-small {
  padding-top: 2rem;
  margin-bottom: -2.5rem;
  font-size: 0.85rem;
  font-weight: 100;
  font-style: italic;
  text-transform: uppercase;
}

div.checkout {
  margin: 1rem 0;
}

@media only screen and (max-width: 600px) {
  .shopping-cart,
  .info-con {
    width: 90%;
    min-width: 300px;
    max-width: 400px;
    border-radius: 50px;
    background-color: rgba(217, 217, 217, 0.1);
  }

  h1 {
    text-wrap: wrap;
  }

  .title-padding {
    text-align: center;
  }

  .shopping-cart {
    padding-bottom: 2rem;
  }

  .shopping-cart > div > div.gap {
    gap: 2rem;
  }

  .check-out h5 {
    padding-bottom: 0;
  }

  .check-out-price {
    font-size: 1.45em;
  }

  .divider-line.checkout {
    width: 100%;
  }

  #check-out-finished {
    padding: 0.5rem;
  }
}
