/* border: 2px dotted yellow; */

.active,
.active:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--light-grey-25);
  text-decoration-thickness: 1.5px;
}

header > nav {
  display: flex;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 2.2rem;
}

/* mobile menu */

@media only screen and (max-width: 600px) {
  /* Hamburger open styles */
  header.open .hamburger-icon > span:first-child {
    transform: rotate(45deg);
  }
  header.open .hamburger-icon > span:nth-child(2) {
    opacity: 0;
  }
  header.open .hamburger-icon > span:last-child {
    transform: rotate(-45deg);
  }

  header .overlay {
    position: fixed;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient(var(--dark-purple-2), 100%, transparent);
    z-index: 1;
  }

  .mobile-menu {
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-purple-2);
    padding: 1.625rem;
    margin-top: 1rem;
    border-radius: 10px;
    z-index: 1;
  }

  .mobile-menu > a {
    display: block;
    padding: 0.625rem;
    color: var(--light-grey);
    text-align: center;
  }

  .logo {
    width: 7.5rem;
    height: auto;
  }

  .hamburger-icon {
    z-index: 1;
  }

  .hamburger-icon > span {
    display: block;
    width: 2.312rem;
    height: 0.375rem;
    background-color: var(--light-grey);
    transition: all 300ms ease-in-out;
    transform-origin: center left;
  }

  .hamburger-icon > span:not(:last-child) {
    margin-bottom: 7px;
  }
}

/* desktop menu */

@media only screen and (min-width: 601px) {
  .desktop-left,
  .desktop-mid,
  .desktop-right {
    display: flex;
    flex: 1;
    max-width: 100%;
    flex-basis: 33%;
  }

  .logo {
    width: 12rem;
    height: auto;
  }

  .desktop-header-icons > svg {
    width: 1.562rem;
    height: auto;
  }

  .desktop-header-icons > svg:not(:last-child) {
    margin-right: 10px;
  }

  .shopping-cart {
    stroke: var(--light-grey);
  }

  svg circle {
    stroke: var(--light-grey);
  }

  .icon {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--light-grey);
  }

  .desktop-menu > a:not(:last-child) {
    margin-right: 30px;
  }

  .desktop-menu > a {
    font-weight: 500;
  }
}

/* svg icon and text glow on hover */

svg:hover .shopping-cart,
svg:hover circle {
  stroke: var(--light-grey-hover);
}

svg:hover .icon {
  fill: var(--light-grey-hover);
}

svg:hover .shopping-cart,
svg:hover circle,
svg:hover .icon {
  filter: drop-shadow(0 0 1.75px var(--saturated-purple));
}

.text-glow > a:hover {
  color: var(--light-grey-hover);
  text-shadow: 0 0 10px var(--saturated-purple);
  transition: color 150ms ease-in-out;
}
