/*HOMEPAGE*/

@media (min-width: 600px) {
  main {
    padding: 1em 5em;
    background-color: #1e1f27;
  }

  .container {
    display: flex;
    gap: 1rem;
  }

  .game-box {
    width: 45px;
    height: 45px;
    background-color: plum;
  }
}
