body {
  margin: 0;
  padding: 0;
  color: lightseagreen;
  background-color: #1e1f27;
}

nav a {
  color: white;
  text-decoration: none;
}

nav .active {
  text-decoration: underline;
}

#header-logo {
  height: 8vw;
}

@media (min-width: 600px) {
  body {
    color: lightgreen;
  }
}
