.btn-1 {
  display: inline-block;
  width: 6rem;
  height: 2.8rem;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: rgba(94, 118, 255, 0.24);
  box-shadow: 0 5px 15px #6240ea25,
    rgba(255, 255, 255, 0.199) 0px 1px 0px 0px inset;
}

.btn-1:hover {
  background-color: #3653f377;
  box-shadow: 0 5px 15px #3538ec4d,
    rgba(255, 255, 255, 0.247) 0px 1px 0px 0px inset;
  color: #fff;
}

.btn-span {
  text-align: center;
  font-size: 10.5px;
  font-weight: 400;
}

.gap {
  gap: 20px;
}

button {
  border: none;
  color: var(--light-grey);
}

.btn-2 {
  display: inline-block;
  width: 7.5rem;
  border-radius: 25px;
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  border: none;
  font-size: 0.7em;
  font-weight: 500;
  background-color: rgba(86, 93, 134, 0.178);
}

.btn-2:hover {
  background-color: rgba(86, 99, 172, 0.329);
  color: #fff;
}

.btn-2 span.letter-spacing {
  letter-spacing: 0.15rem;
}

.seller-card {
  width: 17rem;
  height: 6.4rem;
  border-radius: 30px;
  background-color: rgba(129, 106, 224, 13%);
  box-shadow: 3px 3px 7px rgba(69, 43, 185, 0.1),
    -3px -3px 7px rgba(131, 33, 170, 0.1);
}

.seller-card h4 {
  font-size: 0.95rem;
  margin-right: 0.13rem;
  letter-spacing: 0.15rem;
}

.seller-card h5 {
  font-size: 0.8rem;
  font-weight: 300;
  width: 144px;
  margin-bottom: 0.12rem;
  letter-spacing: 0.15rem;
}

.seller-card .img {
  width: 3.65rem;
  margin-right: 0.65rem;
}

.verified {
  transform: scale(0.8);
  z-index: -1;
}

.star-icon {
  transform: scale(0.85);
  z-index: -1;
}

/* about */

#about section:first-child p {
  width: 45rem;
}

#reviews {
  width: 100vw;
  gap: 5rem;
  margin-left: -11.25rem;
  padding: 5rem 0;
  background-color: #d9d9d908;
}

#reviews > div {
  margin-top: -2rem;
  padding-bottom: 1rem;
}

#reviews p:first-child {
  padding-bottom: 0.5rem;
}

#reviews ul {
  gap: 2rem;
}

#reviews li {
  width: 225px;
}

#reviews li p {
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
}

/* loading circle */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: rgba(255, 255, 255, 0.521) transparent;
  border-radius: 50%;
  box-shadow: 3px 3px 7px rgba(69, 43, 185, 0.1),
    -3px -3px 7px rgba(131, 33, 170, 0.1);
  /* display: inline-block; */
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* contact */

.contact-bg {
  width: 100vw;
  height: 20rem;
  background-color: rgba(166, 153, 247, 10%);
}

#contact h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

#contact p {
  font-size: 0.85rem;
  font-weight: 300;
}

#contact p,
#contact h3 {
  letter-spacing: 0.025rem;
}

#contact .marg {
  margin: 0 0 3rem 0;
}

#contact section.gap {
  gap: 10rem;
}

.contact-form {
  width: 20rem;
  height: 1.55rem;
  border-radius: 5px;
}

.msg {
  height: 5rem;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #reviews {
    width: inherit;
    margin: 0;
  }

  #reviews div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #reviews ul {
    align-self: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  #reviews.flex {
    flex-direction: column;
  }

  #about section:first-child p {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
  }

  #contact section {
    flex-direction: column;
    height: 100%;
    margin-bottom: 5rem;
  }

  #contact section.gap {
    gap: 4rem;
  }

  .contact-form-con {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 601px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 272px);
    gap: 2.5rem;
    justify-items: center;
  }

  /* about */
  .h1-about {
    text-align: left;
  }
  /* loading circle */
  #loading-circle.marg {
    margin: 0 0 3rem 0;
  }
}
