.sort {
  display: flex;
  width: 13.06rem;
  height: 1.18rem;
  margin-right: -45rem;
  margin-bottom: 2rem;
  gap: 1rem;
  align-items: flex-end;
}

.three-lines {
  width: 19px;
  height: 3px;
  background-color: #d9d9d9;
}

.dot {
  width: 3px;
  height: 3px;
  background-color: #d9d9d9;
}

.sb-1 {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.sb-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4px;
  cursor: pointer;
}

.arrow-down {
  width: 25px;
  height: 25px;
  transform: scale(0.6);
}

#sort-p {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.active-glow {
  box-shadow: 0 0 10px var(--saturated-purple);
  outline: 1px solid rgba(82, 34, 255, 0.521);
}

.disabled-pointer-events {
  pointer-events: none;
}

/* SORT MENU */

#sort-menu {
  position: relative;
  display: inline-block;
  text-align: center;
}

#sort-btn {
  width: 8.55rem;
  height: 1.4rem;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

#sort-dropdown {
  position: absolute;
  width: 8.15rem;
  border-radius: 5px;
  margin-top: 0.15rem;
  background-color: var(--light-grey);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

#sort-dropdown a {
  display: block;
  font-size: 0.77rem;
  color: black;
  padding: 12px;
}

#sort-dropdown a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.sort-fade-in {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

.sort-fade-out {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.underline,
.underline:hover {
  text-decoration: underline;
}

.rotate {
  transform: rotate(180deg) scale(0.6);
}
