@import "/css/header.css";
@import "/css/variables.css";
@import "/css/animations.css";
@import "/css/main.css";
@import "/css/games.css";
@import "/css/sort.css";
@import "/css/browse-sellers.css";
@import "/css/show-game-info.css";
@import "/css/footer.css";
@import "/css/icons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "NineTsuki";
  src: url("/resources/fonts/NineTsuki.otf");
}

:root {
  font-size: 16px;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.border {
  border: 1px dotted yellow;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--light-grey);
  font-size: 1em;
  background-color: var(--bg-c);
  line-height: 1.3;
}

main {
  flex: 1;
  padding-bottom: 5rem;
}

section {
  margin-bottom: 5rem;
}

h1,
h2 {
  font-family: "nineTsuki", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  white-space: nowrap;
}

p {
  font-size: 1rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: var(--light-grey);
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  padding-left: 0.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 0.1rem;
}

.img {
  object-fit: contain;
  max-width: 100%;
  width: 4rem;
  height: auto;
}

svg:hover {
  cursor: pointer;
}

/* flexbox styles */

.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

body.flex {
  flex-direction: column;
  justify-content: space-between;
}

.f-jc-sb {
  justify-content: space-between;
}

.f-jc-c {
  justify-content: center;
}

.f-ai-c {
  align-items: center;
}

.grid {
  display: grid;
}

.gap {
  gap: 1rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.marg {
  margin: 0 0 0 0;
}

a:has(svg) {
  display: flex;
  width: 1.562rem;
}

#cart-icon-container {
  position: relative;
}

#cart-bubble {
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  right: 0;
  margin-left: 0.51rem;
  margin-top: -0.3rem;
  border-radius: 7px;
  background-color: var(--saturated-purple);
  box-shadow: 0 0 10px rgba(79, 31, 255, 0.521);
  outline: 2px solid rgba(55, 0, 255, 0.521);
  /* filter: blur(0.05rem); */
  text-align: center;
  z-index: -1;
}

#cart-bubble h6 {
  font-size: 0.6rem;
  color: var(--light-grey);
}

.bg-color-bubble-center {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    #1f2b7b71 50%,
    var(--bg-c) 50%
  );
  filter: blur(150px);
  z-index: -1;
}

.bg-color-bubble-blue {
  position: fixed;
  top: -150px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 570px;
  height: 570px;
  border-radius: 50%;
  background-color: rgba(31, 43, 123, 0.582);
  filter: blur(150px);
  z-index: -1;
}

.bg-color-bubble-purple {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      farthest-side,
      rgba(195, 0, 255, 0.39) 96%,
      transparent
    )
    bottom right/250px 250px;
  filter: blur(150px);
  background-repeat: no-repeat;
  z-index: -1;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.125em;
  }

  header {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .no-scroll {
    overflow: hidden;
  }

  /* visibility */
  .hide-for-mobile-devices {
    display: none;
  }

  main {
    margin-bottom: 1rem;
  }

}

@media only screen and (min-width: 601px) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.125em;
  }

  .container {
    padding-right: 11.25rem;
    padding-left: 11.25rem;
  }

  /* visibility */
  .hide-for-desktop-devices {
    display: none;
  }
}
