:root {
  /* colors */
  --bg-c: #1e1f27;
  --light-grey: #d3d3d3;
  --light-grey-25: rgba(211, 211, 211, 25%);
  --light-grey-hover: #eeeeee;
  --dark-grey-25: rgba(0, 0, 0, 25%);
  --dark-grey-50: rgba(0, 0, 0, 50%);
  --light-purple: #a699f7;
  --saturated-purple: #6b54ff;
  --dark-purple: rgba(129, 106, 224, 13%);
  --light-blue: rgba(94, 118, 255, 0.25%);
  --dark-blue: rgba(31, 57, 201, 90%);
  --color-bubble-1: rgba(31, 44, 123, 80%);
  --color-bubble-2: rgba(184, 94, 255, 50%);

  /* font-sizes */
  --font-s: 0.875rem;
  --font-m: 1.125rem;
}
